# application-prod.yml
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      # ↓↓↓ Clave para que Aurora pueda pausar
      minimum-idle: 0            # antes: 2 (esto mantenía 2 conexiones abiertas SIEMPRE)
      maximum-pool-size: 10
      idle-timeout: 30000        # 30s: cierra rápido conexiones ociosas
      connection-timeout: 30000  # 30s para obtener conexión
      max-lifetime: 30000        # 30s: evita 'keepalives' de larga vida

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false
