server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://${HOST_HOSTINGER}:3306/${NOMBRE_DB}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: ${USUARIO_DB}
    password: ${PASSWORD_DB}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 0
      idle-timeout: 30000      # 30s
      max-lifetime: 30000      # 30s < timeout del server
      validation-timeout: 5000 # 5s

  jpa:
    hibernate:
#      ddl-auto: none          # seguimos dejando Flyway como owner del schema
    ddl-auto: none  # en dev cloud podemos recrear la BD en cada arranque
    show-sql: true            # en dev cloud conviene ver SQL
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false
    validate-on-migrate: true
    clean-disabled: false     # en dev podés permitir limpiar si querés

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://cognito-idp.${AWS_REGION}.amazonaws.com/${COGNITO_USER_POOL_ID}

cdd:
  security:
    groups-claim: cognito:groups
    required-audience: ${COGNITO_APP_CLIENT_ID:}

app:
  openapi:
    server:
      dev: https://cocinadelicia-backend.onrender.com
      prod: https://api.lacocinadelicia.com
  cdn:
    base-url: https://cocinadelicia-images-dev.s3.us-east-1.amazonaws.com

logging:
  config: classpath:log4j2-spring.xml
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
