server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:ssl/cdd-local.p12
    key-store-password: changeit123   # <= usa el password que pusiste en keytool
    key-store-type: PKCS12
    key-alias: cdd-local

spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:cdd;DB_CLOSE_DELAY=-1;MODE=MySQL;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://cognito-idp.${AWS_REGION}.amazonaws.com/${COGNITO_USER_POOL_ID}

cdd:
  security:
    groups-claim: cognito:groups
    required-audience: ${COGNITO_APP_CLIENT_ID:}

app:
  openapi:
    server:
      dev: https://192.168.1.7:8443
      prod: https://api.lacocinadelicia.com

logging:
  config: classpath:log4j2-spring.xml
